.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #010203;
    
  }

  @media screen and (max-width: 600px ){
    .footer {
        font-size:10px;
    }
}