<div class="all bg">
    <h1 class="sk text-center">Projets Personnels</h1>
    <div class="row p-5">
        <!-- Projet 1 -->
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="row">
                    <div class="col-10">
                        <h4>Gestion de Tâches</h4>
                    </div>
                    <div class="col-2">
                        <h4>
                            <a target="_blank" href="https://github.com/youssfmadani/Gestion-de-t-ches">
                                <i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <li>Technologies utilisées : [Veuillez spécifier]</li>
                <p>Application permettant de gérer efficacement des tâches avec des fonctionnalités telles que l'ajout, la suppression et la mise à jour de tâches.</p>
            </div>
        </div>

        <!-- Projet 2 -->
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="row">
                    <div class="col-10">
                        <h4>Calculatrice en Java</h4>
                    </div>
                    <div class="col-2">
                        <h4>
                            <a target="_blank" href="https://github.com/youssfmadani/Calculatrice-en-Java">
                                <i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <li>Technologies utilisées : Java</li>
                <p>Une calculatrice de bureau développée en Java offrant des opérations arithmétiques de base.</p>
            </div>
        </div>

        <!-- Projet 3 -->
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="row">
                    <div class="col-10">
                        <h4>Application de Gestion d'ENAA</h4>
                    </div>
                    <div class="col-2">
                        <h4>
                            <a target="_blank" href="https://github.com/youssfmadani/Application-de-gestion-d-ENAA">
                                <i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <li>Technologies utilisées : [Veuillez spécifier]</li>
                <p>Application dédiée à la gestion des activités et des ressources de l'ENAA.</p>
            </div>
        </div>

        <!-- Projet 4 -->
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="row">
                    <div class="col-10">
                        <h4>Application Bancaire</h4>
                    </div>
                    <div class="col-2">
                        <h4>
                            <a target="_blank" href="https://github.com/youssfmadani/Application-Bancaire">
                                <i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <li>Technologies utilisées : Java</li>
                <p>Application simulant les opérations bancaires courantes telles que les dépôts, retraits et consultations de solde.</p>
            </div>
        </div>

        <!-- Projet 5 -->
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="row">
                    <div class="col-10">
                        <h4>Page Web d'une Agence de Voyage</h4>
                    </div>
                    <div class="col-2">
                        <h4>
                            <a target="_blank" href="https://github.com/youssfmadani/Page-web-d-une-agence-de-voyage">
                                <i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <li>Technologies utilisées : HTML</li>
                <p>Site web statique présentant les services et offres d'une agence de voyage.</p>
            </div>
        </div>
    </div>
</div>
