<div class="pb-4 bg">
    <h1 class="text-center sk pt-3">Skills</h1><br><br>
    <div class="center">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>
                        <p class="bold">Languages</p>
                        <ul>
                            <li>C++ (Intermediate)</li>
                            <li>C# (Intermediate)</li>
                            <li>C (Basic)</li>
                            <li>Javascript (Intermediate)</li>
                            <li>Typescript (Intermediate)</li>
                            <li>Python (Basic)</li>
                            <li>HTML (Intermediate)</li>
                            <li>CSS (Intermediate)</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <p class="bold">Frameworks</p>
                        <ul>
                            <li>.NET (Intermediate)</li>
                            <li>Bootstrap (Intermediate)</li>
                            <li>Angular (Intermediate)</li>
                            <li>Node.js (Intermediate)</li>
                            <li>Three.js (Basic)</li>
                            <li>Jquery (Basic)</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <p class="bold">Databases</p>
                        <ul>
                            <li>Firebase</li>
                            <li>MySql</li>
                            <li>SSMS</li>
                            <li>SQL</li>
                            <li>MongoDb</li>
                            <li>PostgresSql</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="center others">
            <ul>
                <li>Data Structure and Algorithms</li>
                <li>Problem Solving</li>
                <li>API Design and Development</li>
                <li>Git & Github</li>
            </ul>
        </div>
    </div>
</div>
