<main class="bg">
    <h1 class="sk text-center">Education</h1><br>
    <div class="center">
        <div class="row px-5">
            <div class="col-md-6 p-2 mb-4">
                <div class="timeline">
                    <div class="tl-content">
                        <div class="tl-header">
                            <span class="tl-marker"></span>
                            <p class="tl-title">
                                Formation Professionnelle en Développement Web (Full Stack)
                            </p>
                            <time class="tl-time" datetime="2024-10-01">
                                2024 - 2025
                            </time>
                        </div>
                        <div class="tl-body">
                            <p>
                                École Numérique Ahmed Al Hansali, Béni Mellal
                            </p>
                        </div>
                    </div>
                    <div class="tl-content">
                        <div class="tl-header">
                            <span class="tl-marker"></span>
                            <p class="tl-title">
                                BTS en Développement des Systèmes d’Information
                            </p>
                            <time class="tl-time" datetime="2022-09-01">
                                2022 - 2024
                            </time>
                        </div>
                        <div class="tl-body">
                            <p>
                                Lycée Qualifiant Lissane Eddine Ibn Al-Khatib, Laâyoune
                            </p>
                        </div>
                    </div>
                    <div class="tl-content">
                        <div class="tl-header">
                            <span class="tl-marker"></span>
                            <p class="tl-title">
                                Baccalauréat Sciences Physiques – Mention Bien
                            </p>
                            <time class="tl-time" datetime="2022-06-01">
                                2021 - 2022
                            </time>
                        </div>
                        <div class="tl-body">
                            <p>
                                Lycée Qualifiant AL MARSAA, Laayoune
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h3 class="text-center pb-5">Certifications</h3>
                <ul class="center">
                    <li>JavaScript (Intermediate) – SoloLearn</li>
                    <li>C Programming – HackerRank</li>
                    <li>Git & GitHub – Coursera</li>
                    <li>MySQL Database – SoloLearn</li>
                    <li>Responsive Web Design – freeCodeCamp</li>
                    <li>Java (Basics) – HackerRank</li>
                    <li>HTML & CSS – SoloLearn</li>
                </ul>
            </div>
        </div>
    </div>
</main>
