<div class="bg">
    <h1 class="sk text-center">Contact</h1>

    <div class="row center">
        <div class="center">

            <div class="card center">
                <a style="text-decoration: none;" href="https://goo.gl/maps/kpn2QNkB2BJpNyi57">
                    <div class="row">
                        <div class="col-1 text-left" style="background-color: #424243; z-index: 9999;">
                            <span><i class="fa-solid fa-location-dot fa-2xl" style="color: #ffffff;"></i></span>
                        </div>
                        <div class="col-11 text-center" style="background-color: #424243;">
                            Beni Mellal, Morocco
                        </div>
                    </div>
                </a>
            </div>

            <div class="card center">
                <a style="text-decoration: none;" href="mailto:youssefelmadani@gmail.com">
                    <div class="row">
                        <div class="col-1 text-left" style="background-color: #424243; z-index: 9999;">
                            <span><i class="fa-solid fa-envelope fa-2xl" style="color: #ffffff;"></i></span>
                        </div>
                        <div class="col-11 text-center" style="background-color: #424243;">
                            youssfelmadani@gmail.com
                        </div>
                    </div>
                </a>
            </div>

            <div class="card center">
                <a style="text-decoration: none;" href="https://www.linkedin.com/in/youssef-el-madani-54a42a2a2/">
                    <div class="row">
                        <div class="col-1 text-left" style="background-color: #424243; z-index: 9999;">
                            <span><i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i></span>
                        </div>
                        <div class="col-11 text-center" style="background-color: #424243;">
                            LinkedIn
                        </div>
                    </div>
                </a>
            </div>

            <div class="card center">
                <a style="text-decoration: none;" href="https://github.com/youssfmadani">
                    <div class="row">
                        <div class="col-1 text-left" style="background-color: #424243; z-index: 9999;">
                            <span><i class="fa-brands fa-github fa-2xl" style="color: #ffffff;"></i></span>
                        </div>
                        <div class="col-11 text-center" style="background-color: #424243;">
                            GitHub
                        </div>
                    </div>
                </a>
            </div>

            <div class="card center">
                <a style="text-decoration: none;" href="https://www.instagram.com/jozeph_madani/">
                    <div class="row">
                        <div class="col-1 text-left" style="background-color: #424243; z-index: 9999;">
                            <span><i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i></span>
                        </div>
                        <div class="col-11 text-center" style="background-color: #424243;">
                            Instagram
                        </div>
                    </div>
                </a>
            </div>

            <div class="card center">
                <a style="text-decoration: none;" href="https://leetcode.com/youssefelmadani/">
                    <div class="row">
                        <div class="col-1 text-left" style="background-color: #424243; z-index: 9999;">
                            <span><i class="fa-solid fa-terminal fa-2xl" style="color: #ffffff;"></i></span>
                        </div>
                        <div class="col-11 text-center" style="background-color: #424243;">
                            Leetcode
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
