<div class="px-5 bg">
    <h1 class="text-center sk">About</h1><br><br>
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-lg-6 pb-4">
            <p style="font-size: 20px;">
                <span class="sk" style="font-size: 40px;">Hello,</span> <br>
                I am Youssef El Madani, a passionate and motivated Computer Engineering student currently studying at École Numérique Ahmed Al Hansali (ENAA) in Béni Mellal. <br><br>
                I have a solid background in software development, including experience in Java EE, web development (HTML, CSS, JavaScript), and database systems (MySQL, PostgreSQL). I’ve also built real-world projects like StockMaster and DoctorRV. <br><br>
                I enjoy working in teams, solving complex problems, and continuously learning new technologies. I am currently seeking opportunities to apply and grow my skills in impactful tech environments.
            </p><br>
            <a type="button" href="https://youssefelmadani.github.io/Resume/" target="_blank"
                class="btn btn-outline-light dwnldBtn">Download CV &nbsp;<span
                    class="material-symbols-outlined download">
                    download
                </span></a>
        </div>
        <div class="col-lg-6 pb-4">
            <div class="image-cropper">
                <img class="image" src="https://media.licdn.com/dms/image/v2/D4E03AQGAzGdoKqcxbw/profile-displayphoto-shrink_800_800/B4EZNaWNeiGYAc-/0/1732387594352?e=1749686400&v=beta&t=_1VYLEv4GjBshO0XRFh1tjUk7nZgiSY5UFK6ZQ8VYmk" alt="Youssef El Madani">
            </div>
        </div>
    </div>
</div>
